body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f4f9;
    color: #2d3436;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #1e3799;
    color: white;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fbc531;
}

/* SECTIONS */
section {
    padding: 40px;
    text-align: center;
    background: white;
    margin: 15px;
    border-radius: 8px;
}

#home {
    background: #dff9fb;
}

/* SKILLS */
.skill-box {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #c7ecee;
    border-radius: 20px;
}

.skill-box:hover {
    background: #22a6b3;
    color: white;
}

/* PROJECT */
.project {
    background: #f6e58d;
    padding: 15px;
    margin: 10px;
    border-radius: 6px;
}

/* FORM */
input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border-radius: 5px;
}

/* BUTTON */
button {
    padding: 10px 20px;
    background: #6c5ce7;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* DARK MODE */
.dark {
    background: #2d3436;
    color: white;
}

.dark nav {
    background: black;
}

.dark section {
    background: #3d3d3d;
}
